@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
/*скролл*/
::-webkit-scrollbar              { background-color: ;width: 5px; }
::-webkit-scrollbar-button       {background-color: red; height: 0px;width: 5px;}
::-webkit-scrollbar-track        { /* 3 - трек */ }
::-webkit-scrollbar-track-piece  { /* 4 - видимая часть трека */ }
::-webkit-scrollbar-thumb        { background-color: red; }
::-webkit-scrollbar-corner       { /* 6 - уголок */ }
::-webkit-resizer                { width: 5px; }
/*index*/
*, *:before, *:after, h1 {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0}
body{font-family: 'Roboto', sans-serif;background: white;}
a{text-decoration:none;}
/*прочее margin:20px 20px 20px 20px;*/
.banner {width: 100%; height: 600px;background: #00eaff;}
.gamestart {width: 100%;height: 100%;background: url(../img/gamestart2summer.jpg);background-position: center;background-repeat: no-repeat;overflow:hidden}
.divstart {width: 1300px;height: 220px;background:#fff;box-shadow: 0 0 10px rgba(0,0,0,0.5);margin: 0 auto;position: relative;top: -150px;border-radius: 5px;}
.swlogo {width: 180px;  float: left;}
.swlogo1 {width: 180px; border-radius: 20px;}
.nametag {padding-top: 30px;padding-left: 10px;overflow:hidden;width: 230px;}
.nametag h1 {width: 230px;}
.downblock {width: 100%;height: 250px;background:#383c3d;}
.centerinfdownblock {margin: 0 auto;height: 200px;width: 550px;}
.copyrightby {width: 550px;margin-top: 30px;margin: 0 auto; text-align: center;}
.div2start {padding:20px 20px 20px 20px;width: 100%;height: 100%;}
.copyrightby p {font-size: 11px;color: white;}
.copyrightby a {font-size: 11px;color: white;}
/*кнопки*/
.startgame {width: 140px;float: left;margin-left: 10px;}
.startgamesa {
  margin-top: 5px;
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: bold;
  color: white;
  background: #2EE59D;
    background-size: 560px 180px;
  box-shadow: 0 0px 15px rgba(46,229,157,.4);
  transition: .1s;}
 .startgamesa:hover {
  background: url(https://i.ibb.co/HD9tgw9/2rNWjz6.gif) black;
  background-position: 50% 50%;
  background-size: 200px 100px;
  box-shadow: 0 15px 20px rgba(0,0,0,.1);
  color: white;}
  .error1 {width: 600px;float: left;} 

