.eventcontainer { width: 1000px; margin: 0 auto;     }
.eventdiv { width: 100%; height: 500px;margin:0 0 50px 0;border-bottom: 3px solid #2EE59D; border-bottom-left-radius:  10px;border-bottom-right-radius:  10px;box-shadow: 0 0 5px rgba(0,0,0,0.5); }
.imgevent {width: 100%; height: 70%; background-position: center;border-top-right-radius: : 10px;}
.eventname {padding: 10px;width: 50%;overflow: hidden;white-space: nowrap;-webkit-mask-image: linear-gradient(to right, black 60%, transparent 80%);
mask-image: linear-gradient(to right, black 60%, transparent 80%);}
.revent1 {width: 790px;float: left; margin-left: 10px;}
.revent {
  margin-top: 5px;
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 300px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: bold;
  color: white;
  background: #2EE59D;
    background-size: 560px 180px;

  transition: .5s;}
 .revent:hover {
 	  letter-spacing: 2px;
  background: #6ee6b7;
  background-position: 50% 50%;
  background-size: 200px 100px;
  color: white;}